<app-nav></app-nav>

<div class="container mt-3">

  <form [formGroup]="formulario">

    <div class="borda">

      <div class="row m-1">

        <div class="col-lg-4">
          <label>Nome</label>
          <input type="text" autocomplete="current-password" formControlName="nome"
            class="mt-2 mb-2 form-control form-control" />
          <div class="field-message m-0 mb-3 mensagem-erro"
            *ngIf="exibirMsgCampoObrigatorio && formulario.get('nome')?.invalid">
            *Campo de preenchimento obrigatório
          </div>
        </div>

        <div class="col-lg-4">
          <label>Sobrenome</label>
          <input type="text" autocomplete="current-password" formControlName="sobrenome"
            class="mt-2 mb-2 form-control form-control" />
          <div class="field-message m-0 mb-3 mensagem-erro"
            *ngIf="exibirMsgCampoObrigatorio && formulario.get('sobrenome')?.invalid">
            *Campo de preenchimento obrigatório
          </div>
        </div>

        <div class="col-lg-4">
          <label>CPF</label>
          <input type="text" formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00"
            class="mt-2 mb-2 form-control form-control" />
          <div class="field-message m-0 mb-3 mensagem-erro" *ngIf="exibirMsgCampoObrigatorio && formulario.get('cpf')?.invalid">
            *Campo de preenchimento obrigatório
          </div>
        </div>

      </div>

      <div class="row m-1">

        <div class="col-lg-4">

          <label>Salário</label>
          
          <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left'}"
           type="text" class="mt-2 mb-2 form-control form-control" formControlName="renda" />

          <div class="field-message m-0 mb-3 mensagem-erro"
            *ngIf="exibirMsgCampoObrigatorio && formulario.get('renda')?.value == 0">
            *Campo de preenchimento obrigatório
          </div>

        </div>

        <div class="col-lg-4">
          <label>Valor</label><br>
          
          <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left'}"
           type="text" class="mt-2 mb-2 form-control form-control" formControlName="valorSolicitado" />

          <div class="field-message m-0 mb-2 mensagem-erro"
            *ngIf="exibirMsgCampoObrigatorio && formulario.get('valorSolicitado')?.value == 0">
            *Campo de preenchimento obrigatório
          </div>

        </div>

        <div class="col-lg-4">
          <label>Telefone</label>
          <input type="text" autocomplete="current-password" formControlName="telefone" mask="+00 (00) 00000-0000" placeholder="+55 (32) 99999-9999"
            class="mt-2 mb-2 form-control form-control" />
          <div class="field-message m-0 mb-3 mensagem-erro"
            *ngIf="exibirMsgCampoObrigatorio && formulario.get('telefone')?.invalid">
            *Campo de preenchimento obrigatório
          </div>
        </div>

      </div>

      <div class="row m-1 mb-2">

        <div class="col-lg-4">
          <label>Prazo (em meses)</label><br>
          <mat-slider class="example-margin mt-2" min="24" max="300" step="12" style="width: 80%;">
            <input matSliderThumb #slider formControlName="prazoPagamento">
          </mat-slider>
          {{slider.value}}
        </div>
      </div>

      <div class="row m-1 mb-2">
        <div class="col-lg-12 text-end">
          <button type="button" class="btn btn-secondary meu-azul" (click)="cadastrarProposta()">Enviar para
            análise</button>
        </div>
      </div>
    </div>

  </form>

  <div class="row mt-4" *ngIf="propostas.length != 0">
    <div class="table-responsive">
      <table class="table table align-middle borda">
        <thead class="bg-light">
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Valor</th>
            <th>Prazo</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proposta of propostas">
            <td>
              <div class="d-flex align-items-center">
                <img src="../assets/user.png" style="width: 64px; height: 64px" class="rounded-circle" />
                <div class="ms-3">
                  <p class="fw-normal mb-1">{{proposta.nome}} {{proposta.sobrenome}}</p>
                  <p class="text-normal mb-0">{{proposta.telefone | mask: '+00 (00) 00000-0000'}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ proposta.cpf| mask: '000.000.000-00' }}</p>
            </td>
            <td>
              {{proposta.valorSolicitadoFmt}}
            </td>
            <td>
              {{proposta.prazoPagamento}} meses
            </td>
            <td>
              {{proposta.aprovado == null ? 'Em análise': proposta.aprovado ? 'Aprovado': 'Reprovado'}}
            </td>
            <td>
              <button (click)="setObservacao(proposta.observacao)"*ngIf="proposta.aprovado == false" type="button" class="btn btn-secondary meu-azul" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Observação
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg meu-azul text-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Observação</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{observacao}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary meu-azul" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>